.button {
  position: relative;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  font-size: 0.75rem;
  background: linear-gradient(to bottom, #020617, #1A1E30);
  width: fit-content;
  height: fit-content;
  outline: 2px solid transparent;
  outline-offset: 2px;
  outline-color: #1e293b;
  font-weight: 600;
  text-decoration: none;
  color: white;

  &:hover {
    outline-color: #8b5cf6;
    background: linear-gradient(to bottom right,
        #6366f1,
        #8b5cf6,
        #ec4899
      );
  }

  &.glass-effect {
    background: rgba(30, 41, 59, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}